body {
  margin: 0;
  padding: 0;
  background-color: #192841;
  color: white;
  font-family: sans-serif;
}
.body-div{
   display: flex;
  width: 100%;
 
}
.flex-div1{
  width:78%;
  display: inline-block;
  /* overflow: hidden; */
  overflow-y: scroll;
  height: 580px;
  /* border: 1px solid cyan; */
}.flex-div1::-webkit-scrollbar {
  display: none;
}

/* -----------------------header section ----------------------*/
.profile-img {
  height: 30px;
  width: 30px;
  border-radius: 40px;
  margin-right: 10px;
}
.title1 {
  display: block;
}
.container-header {
  display: flex;
  justify-content: space-between;
  background-color: #152238;
  color: white;
  padding: 10px 5px;
}
.head-div1 {
  display: flex;
  align-items: center;
}
.head-div2 {
  display: flex;
  align-items: center;

  gap: 2rem;
}
.fav {
  color: white;
  text-decoration: none;
  padding-left: 3rem;
}
.logo-img {
  height: 40px;
  width: 40px;
  padding: 0 1rem;
}
.searchbar {
  border-radius: 5px;
  padding: 5px 5px;
  background-color: rgb(97, 97, 97);
  color: rgb(199, 194, 194);
  border: none;
}
/* end header */
/* ============ BANNER SECTION ==================== */
.banner-sec {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
  width: 85%;
  gap: 15px;
  /* border: 1px solid blue; */
}
.banner-img:hover{
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.table {
  margin: 0px 40px;
  width: 90%;
}
.latest {
  margin-left: 40px;
  margin-bottom: 0;
  width: 60%;
}
.container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 92vw;
  margin: 0 40px;
}
.row {
  display: flex;
  /* width: 100vw; */
  height: 100px;
  margin: 5px;
}
.music_card {
  width: 35%;
  height: 100%;
  /* border: 1px solid yellow; */
  display: flex;
  margin: 5px;
  background-color: #152238;
}
.card-img {
  width: 100px;
  height: 100%;
}
.music_card-description {
  position: relative;
  display: inline-block;
  /* border: 1px solid blue; */
  width: 100%;
}
.title {
  position: absolute;
  top: 40%;
  left: 10px;
  margin: 0;
}
.date {
  position: absolute;
  top: 60%;
  left: 10px;
  font-size: 10px;
  margin: 0;
}
.more-button {
  position: absolute;
  right: 10px;
  top: 0;
  margin: 0;
}
.time {
  position: absolute;
  right: 10px;
  bottom: 45%;
  margin: 0;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.363);
}
.pa-container{
  display: flex;
  gap: 2rem;
  width: 60%;
}
.Pa-img-div {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 200px;
}
.pa-img{
  width: 100%;
}.ps-logo{
  width: 200px;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin-left: -12px;
}
.ps-img-logo{
  width: 100%;
  height: 100%;
}
.ps-logo-name{
  text-align: center;
  bottom: 30%;
  left: 45px;
  z-index:100;
  font-size:15px;
  position: absolute;
}
.pa-name {
  /* position: absolute; */
  text-align: center;
  margin-top: 5px;
}
.pa-img-name-div {
  width: 120px;
}
.ps-main-container{
  display: flex;
  gap: 6px;
  background-color: #152238;
  padding: 20px 10px;
  width: 70%;
}

.play-station{
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 200px;
  margin-top: 37px;
  position: relative;
  margin-left:40px;

}.ps-img{
  width:100%;
  height:100%;
  filter:brightness(70%) blur(1px);
}
.ps-name{
  text-align: center;
  bottom: 25%;
  left: 20px;
  z-index:100;
  font-size:15px;
  position: absolute;
}
.ps-container{
  width:120px;
}
.section5{
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
  width: 85%;
  /* border: 1px solid blue; */
  gap:1rem;
}
.sec-5-img{
  filter:brightness(50%) blur(1px);
  text-align: center;
}
.sec-5-img-div{
position: relative;
text-align: center;
}
.sec-5-img-name{
  position: absolute;
  text-align: center;
  margin-top:-100px;
  font-size:20px;
 left: 100px;
}
.sec-6{
  margin: 20px 40px;
  width: 85%;
}
.sec-6-container{
  display: flex;
  gap: 2rem;
  width: 60%;
  /* margin: 20px 40px; */
}
.latest-img-div{
  width: 120px;
  height: 120px;
  overflow: hidden;
  /* position: relative; */
}
.song-name{
  text-align: center;
  margin-top: 5px;;
}
.queue-container{
  width: 28%;
 
  /* margin-top:-200px; */
  /* padding-left: 30px;  */
  /* border: 1px solid red; */
}
.queue-scroll{
  overflow-y: scroll;
  height: 500px;
}
.queue-song{
  display: flex;
  /* border: 1px solid blue; */
  height: 70px;
  margin: 6px 1px;
  
}.num{
padding: 0 20px;
}
.queue-name{
  padding-left: 18px;
  /* margin-top: -1px; */
}.queue-singer{
  padding-left: 18px;
  margin-top: -22px;
  font-size: 10px;
  /* font-weight: 100PX; */
  color: rgba(255, 255, 255, 0.26)255, 255, 255, 0.514;
}
.fa-heart{
  padding-left: 100px;
  padding-right: 20px;
  padding-top: 20px;
  /* border: 1px solid black; */
  /* width: 5px; */
}
.descpiption{
  width: 200px;
  /* border: 1px solid yellow; */
}